@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status" style="color: @strCountColor">Current count: @currentCount</p>

<RadzenButton class="btn btn-primary" Click="@IncrementCount">Increment RadzenBtn</RadzenButton>
<RadzenButton class="btn btn-dark" Click="@DecrementCount">Decrement RadzenBtn</RadzenButton>

@code {
    private int currentCount = 0;
    private string strCountColor = "black";

    private void IncrementCount()
    {
        currentCount++;
        SetCountColor();
    }

    private void DecrementCount()
    {
        currentCount--;
        SetCountColor();
    }

    private void SetCountColor()
    {
        if (currentCount >= 1 && currentCount <= 5)
        {
            strCountColor = "red";
        }
        else
        {
            strCountColor = "black";
        }
    }
}
